body {
    background-color: #fdf0d5;
    margin: 0%;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

header{
    background: rgb(106,4,15);
    background: linear-gradient(90deg, rgba(106,4,15,1) 0%, rgba(157,2,8,1) 35%, rgba(208,0,0,1) 100%);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
}

header p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 20%;
    float: left;
    margin: 1%;
}

header img{
    float: right;
    width: 3.5%;
    margin: 1%;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 7%;
    margin-bottom: 2%;
    width: 80%;
    background-color: #ffffff;
    padding: 2%;
    align-items: center;
}

h1{
    background: rgb(106,4,15);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 2%;
    margin: 0%;
    width: 95%;
}

.form{
    display:flex;
    flex-direction: column;
    align-items: left;
    width: 70%;
}

label,input,p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

label{
   margin-top: 2%;
   margin-bottom: 1%;
}

input{
    padding: 1%;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.btnCad, .btnLimpar{
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2%;
    width: 45%;
    color: white;
}

.btnCad{
    background-color: rgba(106,4,15,1);
}

.btnCad:hover{
    background-color: rgba(208,0,0,1);
}

.btnLimpar{
    background-color: rgba(208,0,0,1);
}

.btnLimpar:hover{
    background-color: rgba(106,4,15,1);
}

.alert{
    color: rgba(208,0,0,1);
}

footer {
    margin: auto;
    margin-bottom: 1%;
    width: 82%;
    background: rgb(106,4,15);
    background: linear-gradient(90deg, rgba(106,4,15,1) 0%, rgba(157,2,8,1) 35%, rgba(208,0,0,1) 100%);
    padding: 1%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer div{
    width: 50%;
    display: flex;
    justify-content: center;
}

.footerP {
    font-size: 15px;
    color: white;
    text-align: center;
    margin: 0%;
}

a {
    color: #f2f2f2;
    text-align: center;
    padding: 0%;
    text-decoration: none;
}